<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>About Us</title>

<!-- 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  media="screen,projection"/> -->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>


	<style>
		body { 
				font-family: Georgia, sans-serif; 
		/*			   font-family: Helvetica, Arial, sans-serif; */
			 }
/*		.nav{*/
/*/*			height: 70px;*/*/
/*			*/
/*			display: flex;*/
/*			justify-content: left;*/
/*			align-items: center;*/
/*			font-size: 20px;*/
/*			color: white;*/
/*		}*/
	</style>
	</head>
	    <nav class="navbar" style="margin: 0 auto; background-color:  #ff9900" !important>
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav nav-pills centered-pills">
					<li><a href="/">Home<span class="sr-only" role="presentation"></span></a></li>
					<li><a href="/sentiment" role="presentation">Trends in Politics</a></li>
					<li><a href="/locationMap" role="presentation">Location Map</a></li>
					<li class="active"><a href="/about" role="presentation" >About Us</a></li>
					 </ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<body>		
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
<!-- 					<h4>Olivia Chen</h4> -->
<!-- 					Insert Text -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
<!-- 					<h4>Lisa Combs</h4> -->
<!-- 					Insert Text -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
<!-- 					<h4>Ryan Krog</h4> -->
<!-- 					Insert Text -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
<!-- 					<h4>Prema Roman</h4> -->
<!-- 					Insert Text -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<table>
			<tr>
				<td>
					<div>
						<h4>Olivia Chen</h4>
						<p>Insert Text</p>
					</div>
				</td>
				<td>
					<div>
						<h4>Lisa Combs</h4>
						<p>Insert Text</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<h4>Ryan Krog</h4>
						<p>Insert Text</p>
					</div>
				</td>
				<td>
					<div>
						<h4>Prema Roman</h4>
						<p>Insert Text</p>
					</div>
				</td>
			</tr>
		</table>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>
</html>