<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Team 1 District Datalabs Project</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<nav class="navbar navbar-default" style="margin: 0 auto; background-color: white;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only" >Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
<!-- 			<a class="navbar-brand" href="#"><img src="/dewlogo.svg" style="height: 40px"></img></a> -->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="http://rkrog05.github.io">Trends in Politics</a></li>
				<li><a href="/about">About Us</a></li>
				 </ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<body>
<div class="jumbotron">
	<h1 class = "text-center">The Mood of the Media</h1>
</div>

<!-- <div class="container-fluid"> -->
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12 text-left"><h2>More Resources</h2>
		</div>
		 <ul>
			<div class="col-md-6 text-left" id="dewplatform">
				<h3><a 
						href="http://baleen-ingest.readthedocs.org/en/latest/#welcome-to-baleen">Learn about Baleen
				</h3></a>
			</div>

			<div class="col-md-6 text-left" id="methodology">
				<h3><a href="http://www.nltk.org">
						Learn about Natural Language Processing
				</h3></a>
			</div>
		</div>
	</div>
</div>
 </div>
</div>	
	<script src="js/bootstrap.min.js"></script>
</body>

