<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>About the Project</title>

<!-- 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  media="screen,projection"/> -->
	<link href="css/about.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>


	<style>
		body {
				/*font-family: Georgia, sans-serif;*/
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
		/*			   font-family: Helvetica, Arial, sans-serif; */
			 }
		img {
			width: 100%;
			height: 100%;
		}
		.nav{
			height: 70px;
			display: flex;
			justify-content: left;
			align-items: center;
			font-size: 20px;
			color: white;
			top: 0
		}
	</style>
	</head>
	<!-- <nav class="navbar" style="margin: 0 auto; background-color:  #ff4d94" !important> -->
	<nav class="navbar navbar-default navbar-fixed-top" style="margin: 0 auto; background-color:  #ff9900" !important>
	<!-- <nav class="navbar navbar-default navbar-fixed-top" style = 'text-align: center'> -->
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-pills centered-pills">
				<li><a href="/">Home<span class="sr-only" role="presentation"></span></a></li>
				<li><a href="/sentiment" role="presentation">Trends in Politics</a></li>
				<li><a href="/locationMap" role="presentation">Location Map</a></li>
				<li><a href="/d3sentiment" role="presentation" >Sentiment Across Categories</a></li>
				<li><a href="/baleenFeeds" role="presentation" >Baleen Feeds</a></li>
				<li><a href="/freqWords" role="presentation" >Frequently Appearing Words</a></li>
				<li class = 'active'><a href="/project" role="presentation" >About The Project</a></li>
				<li><a href="/about" role="presentation" >The Team</a></li>
				 </ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

	<div class="row">
		<h4 >
		Data Source
	</h4>
		<p >
		The dataset is a corpus of news and blog posts ingested using Baleen from the period March 3, 2016, ongoing. The latest dump we have received from Ben is from May 14, 2016. Currently, the data set contains 52k+ articles in HTML format for a size of approximately 3.6 GB. The corpus is still growing at a rate of several thousand posts per day. We have converted the HTML files to txt files for NLP in python.
		</p>
		<div >
		<h4>Key resources:</h4>
		<ul>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://pypi.python.org/pypi/newspaper">Newspaper</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://www.mongodb.com">MongoDB</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://d3js.org">D3</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="http://leafletjs.com">Leaflet</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://plot.ly">Plotly</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://www.heroku.com">Heroku</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="https://slack.com">Slack</a>
			</li>
			<li style="list-style-position: inside; list-style-type: circle;">
				<a href="http://getbootstrap.com">Bootstrap</a>
			</li>
		</ul>
		</div>

	</div>

	<div class="row">
		<p >
		This project is a product of the <a href="http://www.districtdatalabs.com/incubator/">District Data Labs Incubator Program</a>, which helps qualified participants gain hands-on data science experience with the assistance of mentors through creating a data product. We selected our team of four individuals through our common interest in natural language processing (NLP).
		</p>
		<p >
		There were two objectives for this project: The first was to assist our mentor, Benjamin Bengfort, with creating visualizations for his <a href="https://us.pycon.org/2016/">PyCon</a> talk on May 30, 2016. The second was to create a gallery of data products proposing more interesting ways, beyond the word cloud, to visualize text data.
		</p>
		<div >
		Our final product is this gallery. The tabs contain:
		<ol>
			<li style="list-style-position: inside;">Sentiment analysis visualizations</li>
			<li style="list-style-position: inside;">Map of geographical entities</li>
		</ol>
		</div>

		<div style="font-size: 20px; text-indent: 50px;">
		Next steps:
		<ol>
			<li style="list-style-position: inside;">Network visualization through word associations</li>
			<li style="list-style-position: inside;">Topic model (HDP)</li>
		</ol>
		</div>

	</div>

	<body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>
</html>
